.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    aspect-ratio: 3/4;
    width: 260px;
}

.keypad--button {
    font-size: 24px;
    color: white;

    background-color: #222222;
    border: 1px solid transparent;
    border-radius: 4px;

    justify-self: stretch;
    align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button--del {
    color: #ff7700;
}
