.game--container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border-radius: 16px;
}

.game--display {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer {
    margin: 0px;
    height: 90px;
    text-align: center;
    font-size: 56px;
    font-weight: 300;
    color: gray;
}

.question--card {
    margin-top: 20px;
    color: #ff7700;
}

.question--text {
    font-size: 64px;
    height: 90px;
}
