* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.App {
    font-family: sans-serif;
}

.app--container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    flex: 1;
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 20px; */
    text-align: center;
    margin-top: 15vh;
}

.question--card {
    margin-top: 20px;
    color: #ff7700;
}

.question--text {
    font-size: 64px;
}

.answer {
    margin: 0px;
    text-align: center;
    font-size: 56px;
    font-weight: 300;
    color: gray;
}

.keypad {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.keypad--button {
    background-color: #222222;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: ;

    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 80px;

    text-align: center;
    font-size: 24px;
}

.button--del {
    color: #ff7700;
}

.progressbar--backgound {
    width: 230px;
    max-width: 300px;
    background-color: rgb(218, 218, 218);
    border-radius: 8px;
}

.progressbar--front {
    background-color: #222222;
    height: 4px;
    border-radius: 8px;
}
